<table class="striped">
    <thead>
      <tr>
          <th>Contrato</th>
          <th>Tipo</th>
          <th>Fabricante</th>
          <th>Modelo</th>
          <th>Ano</th>
          <th>Placa</th>
      </tr>
    </thead>

    <tbody>
        <tr>
            <td>671167</td>
            <td>Carro</td>
            <td>Chevrolet</td>
            <td>Corsa Sed. Maxx 1.0/1.0 FlexPower 8v 4p</td>
            <td>2004</td>
            <td>RRT5877</td>
          </tr>
          <tr>
              <td>Alvin</td>
              <td>Eclair</td>
              <td>$0.87</td>
              <td>05</td>
              <td>15</td>
              <td>isu-5688</td>
          </tr>
          <tr>
              <td>Alvin</td>
              <td>Eclair</td>
              <td>$0.87</td>
              <td>05</td>
              <td>15</td>
              <td>isu-5688</td>
          </tr>

    </tbody>
  </table>
