<table class="striped">
    <thead>
      <tr>
          <th>Contrato</th>
          <th>Tipo</th>
          <th>Fabricante</th>
          <th>Modelo</th>
          <th>Ano</th>
          <th>Placa</th>
      </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of recebeContratos" >
            <td>{{item.Contrato}}</td>
            <td>{{item.tipo}}</td>
            <td>{{item.fabricante}}</td>
            <td>{{item.modelo}}</td>
            <td>{{item.ano}}</td>
            <td>{{item.placa}}</td>
          </tr>
    </tbody>
  </table>
