<nav>
  <div class="nav-wrapper logotipo">
    <img src="../assets/img/logotipo.png" alt="">
  </div>
</nav>

<div class="container">
  <div class="row">
    <form class="col s12" (ngSubmit)="onPesquisar(formularioPesquisa)"
        #formularioPesquisa="ngForm" >
      <div class="row pesq-form">
          <div class="input-field col s12 m6">
              <input
                [(ngModel)]="contrato?.cliente.cpf"
                name="cpf"
                id="last_name"
                type="text"
                class="validate"
                maxlength="14"
                mask="000.000.000-00">
              <label for="last_name">CPF</label>
          </div>
          <div class="b-t input-field col s12 m6">
            <button type="submit" class="waves-effect waves-light btn">Pesquisar</button>
          </div>
      </div>
    </form>
  </div>

  <div class="row">
    <app-formulario [contratoRecebido]="contrato" *ngIf="exibirForm"></app-formulario>
    <app-lista [contratoRecebido]="contratos" (selecionado)="recebeContratoFilho($event)" *ngIf="exibirLista" id="lista"></app-lista>
    <app-lista-mobile [contratoRecebido]="contratos" (selecionado)="recebeContratoFilho($event)" *ngIf="exibirLista" id="lista-mobile"></app-lista-mobile>
  </div>


  <!-- MODAL -->
  <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
      <p>Alteração realizada com sucesso!</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat cor-btn" (click)="closeModal()">Fechar</a>
    </div>
  </div>
  <!-- MODAL -->

</div>
