<form class="col s12">
  <div class="row">
    <div class="input-field col s12 m4 l2">
      <input id="celular" type="text" class="validate">
      <label for="celular">Celular</label>
    </div>
    <div class="input-field col s12 m4 l2">
      <input id="telefone" type="text" class="validate">
      <label for="telefone">Telefone</label>
    </div>
    <div class="input-field col s12 m4 l2">
      <input id="nascimento" type="text" class="validate">
      <label for="nascimento">Dt Nascimento</label>
    </div>
    <div class="input-field col s12 m4 l3">
      <input id="rg" type="text" class="validate">
      <label for="rg">RG</label>
    </div>
    <div class="input-field col s12 m4 l3">
      <input id="e-mail" type="text" class="validate">
      <label for="e-mail">E-Mail</label>
    </div>
  </div>




</form>
