<form class="col s12">
  <div class="row">
    <div class="input-field col s12 m4 l2">
      <input id="celular" type="text" class="validate">
      <label for="celular">Celular</label>
    </div>
    <div class="input-field col s12 m4 l2">
      <input id="telefone" type="text" class="validate">
      <label for="telefone">Telefone</label>
    </div>
    <div class="input-field col s12 m4 l2">
      <input id="nascimento" type="text" class="validate">
      <label for="nascimento">Dt Nascimento</label>
    </div>
    <div class="input-field col s12 m4 l3">
      <input id="rg" type="text" class="validate">
      <label for="rg">RG</label>
    </div>
    <div class="input-field col s12 m4 l3">
      <input id="e-mail" type="text" class="validate">
      <label for="e-mail">E-Mail</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m4 l2">
      <input id="cep" type="text" class="validate">
      <label for="cep">CEP</label>
    </div>
    <div class="input-field col s12 m4 l7">
      <input id="endereco" type="text" class="validate">
      <label for="endereco">Endereço</label>
    </div>
    <div class="input-field col s12 m4 l2">
      <input id="numero" type="text" class="validate">
      <label for="numero">Número</label>
    </div>
    <div class="input-field col s12 m4 l1">
      <input id="uf" type="text" class="validate">
      <label for="uf">UF</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m6 l6">
      <input id="bairro" type="text" class="validate">
      <label for="bairro">Bairro</label>
    </div>
    <div class="input-field col s12 m6 l6">
      <input id="cidade" type="text" class="validate">
      <label for="cidade">Cidade</label>
    </div>
  </div>




</form>
