
<form class="col s12" (ngSubmit)="onEditar(formularioEdicao)" #formularioEdicao="ngForm">
  <div class="row">
    <div class="input-field col s12 m4 l2">
      <input name="celular" #celular [(ngModel)]="contratoRecebido.cliente.celular" id="celular" type="text" class="validate">
      <label for="celular" [ngClass]="{'active': celular.value}">Celular</label>
    </div>
    <div class="input-field col s12 m4 l2">
      <input name="telefone" #telefone [(ngModel)]="contratoRecebido.cliente.telefone" id="telefone" type="text" class="validate">
      <label for="telefone" [ngClass]="{'active': telefone.value}">Telefone</label>
    </div>
    <div class="input-field col s12 m4 l2">
      <input name="nascimento" #nasc [(ngModel)]="contratoRecebido.cliente.nascimento" id="nascimento" type="text" class="validate">
      <label for="nascimento" [ngClass]="{'active': nasc.value}">Dt Nascimento</label>
    </div>
    <div class="input-field col s12 m4 l3">
      <input name="rg" #rg [(ngModel)]="contratoRecebido.cliente.rg" id="rg" type="text" class="validate">
      <label for="rg" [ngClass]="{'active': rg.value}">RG</label>
    </div>
    <div class="input-field col s12 m4 l3">
      <input name="email" #email [(ngModel)]="contratoRecebido.cliente.email" id="e-mail" type="text" class="validate">
      <label for="e-mail" [ngClass]="{'active': email.value}">E-Mail</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m4 l2">
      <input name="cep" #cep [(ngModel)]="contratoRecebido.endereco.cep" id="cep" type="text" class="validate">
      <label for="cep" [ngClass]="{'active': cep.value}">CEP</label>
    </div>
    <div class="input-field col s12 m4 l7">
      <input name="logradouro" #logradouro [(ngModel)]="contratoRecebido.endereco.logradouro" id="endereco" type="text" class="validate">
      <label for="endereco" [ngClass]="{'active': logradouro.value}">Endereço</label>
    </div>
    <div class="input-field col s12 m4 l2">
      <input name="numero" #numero [(ngModel)]="contratoRecebido.endereco.numero" id="numero" type="text" class="validate">
      <label for="numero" [ngClass]="{'active': numero.value}">Número</label>
    </div>
    <div class="input-field col s12 m4 l1">
      <input name="uf" #uf [(ngModel)]="contratoRecebido.endereco.uf" id="uf" type="text" class="validate">
      <label for="uf" [ngClass]="{'active': uf.value}">UF</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m6 l6">
      <input name="bairro" #bairro [(ngModel)]="contratoRecebido.endereco.bairro" id="bairro" type="text" class="validate">
      <label for="bairro" [ngClass]="{'active': bairro.value}">Bairro</label>
    </div>
    <div class="input-field col s12 m6 l6">
      <input name="cidade" #cidade [(ngModel)]="contratoRecebido.endereco.cidade" id="cidade" type="text" class="validate">
      <label for="cidade" [ngClass]="{'active': cidade.value}">Cidade</label>
    </div>
  </div>

  <!-- CADASTRO DE SENHAS -->
  <div class="row user-mobile" *ngIf="true" >
    <ul class="collection with-header">
      <li class="collection-header a-t-s"><h5>Cadastro de Senhas</h5></li>
    </ul>

    <div class="row">
        <div class="input-field col s12 m4 l4">
            <input #senhaUser name="usuarioInternet" [(ngModel)]="contratoRecebido.senhas.usuarioInternet" id="user-internet" type="text" class="validate">
            <label [ngClass]="{'active': senhaUser.value}" for="user-internet">Usuário Internet</label>
        </div>
        <div class="input-field col s12 m4 l4">
            <input name="senhaInternet" [(ngModel)]="contratoRecebido.senhas.senhaInternet" id="senha-internet" type="text" class="validate">
            <label for="senha-internet">Senha Internet</label>
        </div>
        <div class="input-field col s12 m4 l4">
            <input name="senhaSeguranca" [(ngModel)]="contratoRecebido.senhas.senhaSeguranca" id="senha-seguranca" type="text" class="validate">
            <label for="senha-seguranca">Senha Segurança</label>
        </div>
      </div>
  </div>
  <!-- CADASTRO DE SENHAS -->


  <!-- APLICAR A TODOS -->
  <div class="row ap-todos" *ngIf="true" >
    <ul class="collection with-header col s12 m6 l6 ul-todos">
      <li class="collection-header a-t-s"><h5>Aplicar a Todos</h5></li>
      <li class="collection-item" *ngFor="let item of contratosRecebidos" >
          <!-- <div> -->
            <input name="{{item.documento.contrato}}" [(ngModel)]="item.senhas.usuarioInternetChecked" type="checkbox" id="{{item.documento.contrato}}">
            <label for="{{item.documento.contrato}}">{{item.documento.contrato}}</label>
          <!-- </div> -->
      </li>
    </ul>
  </div>
  <!-- APLICAR A TODOS -->

  <div class="row">
      <div class="b-t input-field col s12 m6">
          <button type="submit" class="waves-effect waves-light btn cor-btn">Confirmar</button>
        </div>
  </div>

  <!-- MODAL -->
  <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
      <p>Alteração realizada com sucesso!</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat cor-btn" (click)="closeModal()">Fechar</a>
    </div>
  </div>
  <!-- MODAL -->

</form>


