@import '../../assets/config-style.css';


h5 {
  color: #ee6e73;
}
.collection-item {
  border-bottom: none;
}
.org-input {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}
.l-inp {
  margin-left: 0px!important;
}
.a-t-s {
  background-color: #70ad47!important;
  color: #ffffff;
}

.a-t-s h5{
  color: #ffffff;
}

.list-senhas {
  border: 1px solid green;
}

.user-mobile {
  margin-bottom: 0px;
}

.ap-todos {
  margin-top: 2px;
}

.ul-todos {
  padding-left: 0;
  padding-right: 0;
}
