@import '../../assets/config-style.css';


h5 {
  color: #ee6e73;
}
.collection-item {
  border-bottom: none;
}
.org-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.l-inp {
  margin-left: 40px!important;
}
.a-t-s {
  background-color: #70ad47!important;
  color: #ffffff;
}

.a-t-s h5{
  color: #ffffff;
}
