@media only screen and (max-width: 600px) {
  .b-t {
    text-align: center;
  }
  .b-t a {
    width: 40%;
  }
}

@media only screen and (max-width: 380px) {
  .b-t a {
    width: 80%;
  }
}

.pesq-form {
  padding-top: 20px;
}

